.right_block {
  text-align: center;
  img {
    width: 100%;
    max-width: 351px;
    margin-top: 8px;
  }
}
@media (max-width: 767px) {
  .right_block{
    padding: 0;
    margin: 0 -10px;
    margin-bottom: 55px;
    img {
      max-width: 320px;
    }
  }
}