<div class="row first_block">
    <div class="col-sm-4 social">
        <ul>
            <li>
                <a href="#" class="vk"></a>
            </li>
            <li>
                <a href="#" class="fb"></a>
            </li>
            <li>
                <a href="#" class="tw"></a>
            </li>
            <li>
                <a href="#" class="ok"></a>
            </li>
        </ul>
    </div>
    <div class="footer-navigation col-sm-8">
        <ul class="footer-nav">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О проекте</a></li>
            <li><a href="#">Туры</a></li>
            <li><a href="#">Страны</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Сотрудничество</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</div>
<div class="row last_block">
    <div class="col-md-6 col-xs-11 col-md-push-4 address-footer">
        г. Москва, ст. метро Кузьминки, Волжский бульвар, д.37, корп.1.
    </div>

    <div class="col-md-4 col-xs-6 col-md-pull-6 copyright">
        © 2017 Travel
    </div>
    <div class="col-md-2 col-xs-6 logo-id align-right">
        <a href="#">
            <img src="img/id.png" alt="ID">
        </a>
    </div>
</div>