footer {
  background: $black;
  .first_block{
    padding-top: 73px;
    .social{
      padding-top: 7px;
      display: block;
      overflow: auto;
      ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          float: left;
          margin-right: 5px;
          a {
            width: 36px;
            height: 36px;
            display: block;
            &.vk {
              background: url("../img/vk_f.png") no-repeat;
            }
            &.fb {
              background: url("../img/fb_f.png") no-repeat;
            }
            &.tw {
              background: url("../img/tw_f.png") no-repeat;
            }
            &.ok {
              background: url("../img/ok_f.png") no-repeat;
            }
            &:hover {opacity: .75}
          }
        }
      }
    }
    .footer-navigation {
      ul {
        margin: 0;
        padding: 0;
        display: inline-flex;
        flex-flow: column wrap;
        height: 72px;
        width: 100%;
        justify-content: flex-start;
        li {
          list-style: none;
          list-style: none;
          width: 187px;
          a{
            color: #fff;
            font-size: 14px;
            line-height: 24px;
          }
          &:last-child {
            width: auto;
          }
        }
      }
    }
  }
  .last_block {
    padding-top: 63px;
    padding-bottom: 40px;
    .copyright,
    .address-footer,
    .logo-id {
      color: $gray-4;
      font-size: 14px;
      line-height: 30px;
    }
    .address-footer{
      padding-left: 9px;
    }
  }
}
@media (max-width: 767px) {
  footer {
    .first_block{
      padding-top: 40px;
      .social{
        padding: 0 10px;
        padding-bottom: 41px;
        ul {
          li {
            margin-right: 8px;
            margin-bottom: 8px;
            a {
              width: 64px;
              height: 64px;
              display: block;
              &.vk {
                background: url("../img/vk_m.png") no-repeat;
              }
              &.fb {
                background: url("../img/fb_m.png") no-repeat;
              }
              &.tw {
                background: url("../img/tw_m.png") no-repeat;
              }
              &.ok {
                background: url("../img/ok_m.png") no-repeat;
              }
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .footer-navigation {
        ul {
          height: 132px;
          li {
            width: 150px;
            height: 33px;
            a{

            }
            &:last-child {
            }
          }
        }
      }
    }
    .last_block {
      padding-top: 40px;
      padding-bottom: 10px;
      .copyright,
      .address-footer,
      .logo-id {
        color: $gray-4;
        font-size: 14px;
        line-height: 30px;
      }
      .address-footer{
        padding-left: 10px;
        line-height: 24px;
        padding-bottom: 44px;
      }
    }
  }
}