.slider-top {
  .item {
    .slide_description {
      position: absolute;
      left: 100%;
      top: 50%;
      width: 100%;
      margin: -142px 0 0 -100%;
      color: #fff;
      text-transform: uppercase;
      h2 {
        font-size: 72px;
        margin-bottom: 12px;
        font-weight: 400;
      }
      h3 {
        font-size: 20px;
        margin-top: 0;
        font-weight: 400;
      }
    }
  }
  .owl-nav {
    width: 100%;
    max-width: 1110px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -555px;
    .owl-prev {
      top:50%;
      transform: translatey(-50%);
      height:36px;
      width:36px;
      position:absolute;
      left:0px;
      background:url('../img/left.png') center center no-repeat;
    }
    .owl-next {
      top:50%;
      transform: translatey(-50%);
      height:36px;
      width:36px;
      position:absolute;
      right:0px;
      background:url('../img/right.png') center center no-repeat;
    }
  }
}
@media (max-width: 1200px) {
  .slider-top{
    .item{
      .slide_description {
        margin: -80px 0 0 -100%;
        h2 {
          font-size: 36px;
          margin-bottom: 12px;
          font-weight: 400;
        }
        h3 {
          font-size: 16px;
          margin-top: 0;
          font-weight: 400;
        }
      }
    }
    .owl-nav {
      width: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -50%;
      .owl-prev {
        left: 10px;
      }
      .owl-next {
        right: 10px;
      }
    }
  }
}
@media (max-width: 767px) {
  .slider-top{
    .item{
      min-height: 173px;
      img{
        width: 100%;
        min-height: 173px;
      }
      .slide_description {
        padding: 0 50px;
        h2 {
          font-size: 36px;
          margin-bottom: 8px;
          font-weight: 400;
          margin-top: 32px;
        }
        h3 {
          font-size: 16px;
          margin-top: 0;
          line-height: 21px;
          font-weight: 400;
        }
      }
    }
    .owl-nav {
      position: absolute;
      left: 100%; 
      width: 100%;
      margin-left: -100%;
      color: #fff;
      text-transform: uppercase;
      padding: 0 50px;
      .owl-prev {
        left: 10px;
        background:url('../img/left_m.png') center center no-repeat;
      }
      .owl-next {
        right: 10px;
        background:url('../img/right_m.png') center center no-repeat;
      }
    }
  }
}
    
