.country {
  display: inline-block;
  .country_block {
    width: 100%;
    max-width: 160px;
    float: left;
    a {
      display: block;
      text-decoration: none;
      color: $black;
      font-size: 16px;
      line-height: 26px;
      position: relative;
      padding-left: 18px;
      &:hover {
        color: $brown-2;
      }
      &:before {
        display: inline-block;
        content: url('../img/eclipse.png');
        position: absolute;
        top: -2px;
        left: 0;
      }
    }
    &:first-child {
      margin-right: 30px;
    }
  }
}
&.ua-edge {
  .country {
    .country_block {
      max-width: 155px;
    }
  }
}
@media (max-width: 767px) {
  .country {
    margin-bottom: 25px;
    .country_block {
      max-width: 160px;
      a {
        font-size: 14px;
        padding-left: 17px;
        margin-bottom: 8px;
      }
      &:first-child {
        margin-right: 0px;
      }
    }
  }
}