.news-footer {
  background-color: $gray-2;
  padding-top: 60px;
  padding-bottom: 88px;
  .news-footer__block {
    border: 2px solid #fff;
    margin: 0 15px;
    padding: 33px 12px 53px;
    h3 {
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 22px;
      color: $brown-2;
      text-transform: uppercase;
    }
    a {
      &.btn {
        margin: 0 auto;
        position: absolute;
        bottom: -73px;
        left: 50%;
        margin-left: -77px;
      }
    }
    .news-item {
      font-size: 14px;
      padding-left: 15px;
      img {
        display: inline-block;
        float: left;
        padding-right: 20px;
        padding-top: 3px;
      }
      span.date {
        color: $gray;
      }
      a {
        max-width: 300px;
        line-height: 20px;
        color: $black;
        display: block;
        padding-top: 8px;
        font-size: 14px;
        font-weight: 400;
        &:hover {
          color: $brown-2;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .news-footer {
    background-color: $gray-2;
    padding-top: 40px;
    padding-bottom: 65px;
    .container {
      padding-left: 5px;
      padding-right: 5px;
    }
    .news-footer__block{
      padding: 35px 18px;
      padding-bottom: 32px;
      padding-right: 10px;
      .news-item {
        padding: 10px;
        padding-bottom: 20px;
        img{
          display: none;
        }
      }
      a {
        &.btn {
          bottom: -50px;
        }
      }
    }
  }
}