.menu-top{
  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    li {
      list-style: none;
      float: left;
      padding: 19px 68px 17px 7px;
      a{
        font-size: 18.85px;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        color: $black;
        letter-spacing: .6px;
        &:hover, &.active {
          color: $brown;
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
&.ua-edge {
  .menu-top{
    ul {
      li {
        padding: 19px 60px 17px 7px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
    .menu-top {
      ul {
        li {
            padding: 19px 17px;
        }
      }
    }
}
@media (max-width: 991px) {
  .menu-top {
    ul {
      li {
        padding: 19px 15px;
        a{
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
    .menu-top.active {
      display: block;
      height: 100%;
      background: #f5f5f5;
      position: absolute;
      z-index: 999;
      ul {
        padding: 20px 0;
        li {
          width: 100%;
          text-align: center;
          padding: 0;
          a{
            font-size: 24px;
            letter-spacing: -.4px;
            line-height: 60px;
          }
      }
    }
  }
}