.content {
  margin-bottom: 100px;
  h2 {
    text-transform: uppercase;
    font-size: 48px;
    color: $brown-2;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 54px;
    position: relative;
    &:after {
      display: inline-block;
      content: url('../img/line.png');
      position: absolute;
      bottom: -32px;
      left: 0;
    }
  }
  p {
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    &.last_paragraph {
      color: $gray;
      margin-bottom: 35px;
    }
  }
}
@media (max-width: 767px) {
  .content {
    margin-bottom: 53px;
    display: block;
    overflow: hidden;
    h2 {
      font-size: 36px;
      margin-bottom: 27px;
      margin-top: 0;
      &:after {
        display: inline-block;
        content: url('../img/line.png');
        position: absolute;
        bottom: -22px;
        left: 0;
      }
    }
    p {
      margin-bottom: 26px;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      &.last_paragraph {
        color: $gray;
        margin-bottom: 30px;
      }
    }
  }
}