<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-3 social">
            <div class="nav_mobile"></div>
            <ul class="social-nav-social">
                <li>
                    <a href="#"><img src="img/vk.png" alt="vk"></a>
                </li>
                <li>
                    <a href="#"><img src="img/fb.png" alt="fb"></a>
                </li>
                <li>
                    <a href="#"><img src="img/tw.png" alt="tw"></a>
                </li>
                <li>
                    <a href="#"><img src="img/ok.png" alt="ok"></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 align-center logo">
            <a href="#">
                <img src="img/logo.png" alt="TRAVEL">
                <span>Мир, который Вы никогда не видели</span>
            </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-3 align-right feedback">
            <a href="tel:+74953970078" class="feedback__phone">+7 (495) 397-00-78</a>
            <a href="#" class="feedback__modal"><img src="img/phone.png" alt=""><span>Обратный звонок</span></a>
        </div>
    </div>
</div>