header {
  .header{
    padding-top: 40px;
    padding-bottom: 32px;
    border-bottom: 2px solid $gray-3;
    .logo {
      a {
        text-decoration: none;
        display: block;
        img {
          display: block;
          margin: 0 auto;
          margin-bottom: 17px;
          margin-top: -1px;
        }
        span {
          color: $gray;
          font-size: 16px;
        }
        &:hover {
          opacity: .8;
        }
      }
    }
    .feedback {
      padding-top: 11px;
      a{
        text-decoration: none;
        display: block;
        color: $black;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        &.feedback__phone {
          color: $brown;
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 16px;
          margin-top: -1px;
          margin-left: -1px;
        }
        img {
          margin-right: 11px;
          margin-bottom: -4px;
        }
        &:hover {
          opacity: .8;
        }
      }
    }
  }
  .header, footer {
    .social {
      padding-top: 2px;
      ul {
        margin: 0;
        padding: 0;
        li {
          padding: 0;
          margin: 0;
          margin-right: 5px;
          list-style: none;
          float: left;
          a {
            display: block;
            &:hover {
              opacity: .8;
            }
          }
        }
      }
      .nav_mobile {display: none;}
    }
  }
}
@media (max-width: 945px) {
  header {
    .header{
      .logo {
        span {display: none;}
      }
    }
  }
}
@media (max-width: 767px) {
  header {
    .header{
      padding-top: 21px;
      padding-bottom: 19px;
      border-bottom: none;
      .social { 
        padding: 0;
        padding-left: 10px;
        ul.social-nav-social {
          display: none
        }
        .nav_mobile {
          display: block;
          width: 24px;
          height: 18px;
          background: url("../img/nav_mobile.png") no-repeat;
          transition: ease-out .25s;
          cursor: pointer;
          &.active {
            background: url("../img/close.png") no-repeat;
          }
        }
      }
      .logo {
        a{
          img{
            max-width: 98px;
            margin: 0 auto;
          }
          span {display: none;}
        }
      }
      .feedback { 
        padding: 0;
        a{
          &.feedback__phone {
            display: none;
          }
          &.feedback__modal{
            span{
              display: none;
            }
          }
          img {
            margin-right: 10px;
            margin-bottom: -4px;
          }
          &:hover {
            opacity: .8;
          }
        }
      }
    }
    .menu-top {
      display: none;
    }
  }
}